@page "/characteristics"

<div class="row">
    <Characteristic Name="WS" Score="@Dice.D10(2,20)" />
    <Characteristic Name="BS" Score="@Dice.D10(2,20)" />
    <Characteristic Name="S" Score="@Dice.D10(2,20)" />
    <Characteristic Name="T" Score="@Dice.D10(2,20)" />
    <Characteristic Name="I" Score="@Dice.D10(2,20)" />
    <Characteristic Name="Ag" Score="@Dice.D10(2,20)" />
    <Characteristic Name="Dex" Score="@Dice.D10(2,20)" />
    <Characteristic Name="Int" Score="@Dice.D10(2,20)" />
    <Characteristic Name="WP" Score="@Dice.D10(2,20)" />
    <Characteristic Name="Fel" Score="@Dice.D10(2,20)" />
</div>

@code {

}