@page "/characteristics"

<div class="row p-3">
    <Characteristic Name="WS" Score="@Ws" />
    <Characteristic Name="BS" Score="@Bs" />
    <Characteristic Name="S" Score="@S" />
    <Characteristic Name="T" Score="@T" />
    <Characteristic Name="I" Score="@I" />
    <Characteristic Name="Ag" Score="@Ag" />
    <Characteristic Name="Dex" Score="@Dex" />
    <Characteristic Name="Int" Score="@Int" />
    <Characteristic Name="WP" Score="@Wp" />
    <Characteristic Name="Fel" Score="@Fel" />
    <Characteristic Name="W" Score="@W" />
    <Characteristic Name="M" Score="@M" />
</div>

@code 
{
    [Parameter]
    public int Ws { get; set; }

    [Parameter]
    public int Bs { get; set; }

    [Parameter]
    public int S { get; set; }

    [Parameter]
    public int T { get; set; }

    [Parameter]
    public int I { get; set; }

    [Parameter]
    public int Ag { get; set; }

    [Parameter]
    public int Dex { get; set; }

    [Parameter]
    public int Int { get; set; }

    [Parameter]
    public int Wp { get; set; }

    [Parameter]
    public int Fel { get; set; }

    [Parameter]
    public int W { get; set; }

    [Parameter]
    public int M { get; set; }
}