@page "/"

<h1>Create a WFRP Character</h1>

<label for="species">Species</label>
<select id="species" @bind="speciesType">
    @foreach (var speciesType in Enum.GetValues(typeof(SpeciesType)))
    {
        <option value="@speciesType">@speciesType.Description()</option>
    }
</select>

<br />

<button @onclick="generate">Create a @speciesType.Description()</button>

<br />

<Characteristics Ws="@character.Characteristics.WeaponSkill" Bs="@character.Characteristics.BallisticSkill"
                 S="@character.Characteristics.Strength" T="@character.Characteristics.Toughness"
                 I="@character.Characteristics.Initiative" Ag="@character.Characteristics.Agility"
                 Dex="@character.Characteristics.Dexterity" Int="@character.Characteristics.Intelligence"
                 Wp="@character.Characteristics.Willpower" Fel="@character.Characteristics.Fellowship"
                 W="@character.Characteristics.Wounds" M="@character.Characteristics.Movement" />

@code
{
    Character character = new Character(new Human());
    SpeciesType speciesType = SpeciesType.Human;

    void generate()
    {
        character.Species = Factory.MakeSpecies(speciesType);
        character.Generate();
    }
}