@page "/"

<h1>Create a WFRP Character</h1>

<label for="species">Species</label>
<select id="species" @bind="speciesType">
  @foreach (var speciesType in Enum.GetValues(typeof(SpeciesType)))
  {
    <option value="@speciesType">@speciesType.Description()</option>
  }
</select>

<br/>

<button @onclick="generate">Create a @speciesType.Description()</button>

<br/>

<Characteristics Ws="@character.Species.WeaponSkill" Bs="@character.Species.BallisticSkill" S="@character.Species.Strength" T="@character.Species.Toughness" I="@character.Species.Initiative" 
                 Ag="@character.Species.Agility" Dex="@character.Species.Dexterity" Int="@character.Species.Intelligence" Wp="@character.Species.Willpower" Fel="@character.Species.Fellowship" 
                 W="@character.Species.Wounds"/>

@code 
{
    Character character = new Character(new Human());
    SpeciesType speciesType = SpeciesType.Human;

    void generate()
    {
        character.Species = Factory.MakeSpecies(speciesType);
    }
}